<div class="container">
<div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

  <h1>User info</h1>

  <% if @user.errors.any? %>
  <div>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
  </div>
 <% end %>

  <%= form_with model: @user do |form| %>

     <div class="form-group">
        <label for="user_name">Name</label>
        <%= form.text_field :name, class:'form-control user_name' %>
     </div>

     <div class="form-group">
       <label for="user_image">Image</label>
       <br>
       <%= form.file_field :image %>
     </div>

     <div class="form-group">
        <label for="user_introduction">Introduction</label>
        <%= form.text_area:introduction,class:"form-control user_introduction" %>
     </div>
     <div class="form-group">
       <%= form.submit "Update User", class: "btn btn-sm btn-secondary" %>
       </div>
  <% end %>


</div>
</div>